# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/

# Virtual env
.venv/
venv/

# Secrets
.env

# IDE
.vscode/
.idea/

# Data
data/*
!data/.gitkeep

# OS
.DS_Store
Thumbs.db
